@charset "utf-8";
/* CSS Document */

.hezi5{
	float:left;
	width:300px;
	height:540px;
	line-height:100px;
	margin-left:100px;
	padding:30px 0 0 85px;
	background:rgba(225,225,225,0.8);
	border:1px solid #000;
	font-weight:bold;
	box-sizing:border-box;
	
}
.suoyin{
	border:1px solid #000;
	padding-left:110px;
	padding-bottom:10px;
}
.one1{
	list-style-image:url(../image/jiantou.png);
}
.link2:link,.link2:visited{
	text-decoration:none;
	color:#09F;
}
.link2:hover,link2:active{
	text-decoration:none;
	color:#000;
}
.sss:link,.sss:visited{
	text-decoration:none;
	color:#000;
	
	}
.sss:hover,.sss:active{
	text-decoration:none;
	color:#09f;}
.hezi6{
	width:800px;
	height:550px;
	float:right;
	position:absolute;
	right:140px;
	border:1px solid #000;
	padding-left:20px;
	background:url(../image1/fc1.jpg) no-repeat ;
	background-size:cover;
	background-position:top;
	
}
.ul1{
	list-style:none;
	line-height:40px;
	color:rgba(58,58,58,0.8);
	font-size:12px;
	font-weight:bold;
	
}
.aa:hover,.aa:active{
	text-decoration:none;
	color:#000;
	
	}


.ul2{
	font-size:16px;
	color:#C33;
	list-style:none;
	font-weight:bold;
	text-shadow:3px 3px 5px #FF0;
}